<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>唄</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<true/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>作</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<true/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>曲</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<true/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>编</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<true/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>词</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<true/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>唱</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<true/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>by</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<true/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>BGM</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>ED</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>OP</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>SoundTrack</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>InsertSong</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>CharacterSong</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>LyricsBy</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>CV</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>アニメ</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>QQ</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>Lrc</key>
	<dict>
		<key>ignoreCase</key>
		<true/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
	<key>片尾曲</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>片头曲</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>主题歌</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>主题曲</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>插入歌</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>插曲</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>翻译</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>歌词</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>制作</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>歌曲</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>歌手</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>演唱</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>收录</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>收錄</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>编曲</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>作曲</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>作词</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>版权</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>著作权</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<true/>
	</dict>
	<key>//</key>
	<dict>
		<key>ignoreCase</key>
		<false/>
		<key>colonFilter</key>
		<false/>
		<key>ignoreChineseType</key>
		<false/>
	</dict>
</dict>
</plist>
